{php $SEO['site_title'] = '商品宝贝'}
{template "hpshop","top-head"}
<style>
    .layui-flow-more{
        clear:both;
    }
</style>
    <link href="{APP_PATH}statics/zm/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{APP_PATH}statics/zm/css/t-style.css">
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1119981_uc1z8j3m7d.css">
    <link href="{APP_PATH}statics/zm/css/picture_upload.css" rel="stylesheet" type="text/css">
    <script src="{APP_PATH}statics/zm/js/auto-size.js" type="text/javascript"></script>
    <script src="{APP_PATH}statics/zm/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<body style="background: #f9f9f9;">

    <!--head_food-->
    <div class='per-head'>
        <div class='per-head-left'>
            <a href='javascript:history.go(-1);'>
                <img src='{APP_PATH}statics/zm/images/fh-b.png' class='tb-dw'>
            </a>
        </div>
        <a class='per-head-hd'>佣金明细</a>
        <div class='per-head-right'>
            <img src='{APP_PATH}statics/zm/images/gd-b.png' class='tb-dw'>
        </div>
        <div class='clear'></div>
    </div>
    <!--head_food_end-->
    <div class="fx-yj-list">
        <ul id="goods_list">
            <!--<li>-->
                <!--<div class="fl">-->
                    <!--<h3>***购买了****商品</h3>-->
                    <!--<p>2019-05-04 15：29</p>-->
                <!--</div>-->
                <!--<div class="fr">-->
                    <!--获得佣金5.00-->
                <!--</div>-->
                <!--<div class="clear"></div>   -->
            <!--</li>-->
            <!--<div class="bt10"></div>-->
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script type="text/javascript" src="{APP_PATH}statics/public/js/leftTime.min.js"></script>
    <script src="{APP_PATH}statics/zm/js/ajax.js"></script>
    <script src="{APP_PATH}statics/public/layui-v2.4.5/layui/layui.all.js"></script>
    <script src="{APP_PATH}statics/public/swiper-4.4.6/dist/js/swiper.min.js"></script>
    <script>
        $(function() {
            ;
            ! function () {

                var layer = layui.layer,
                        form = layui.form,
                        $ = layui.jquery,
                        upload = layui.upload,
                        table = layui.table,
                        flow = layui.flow;;
                //已兑换礼物列表
                var userid='{$_userid}';
                flow.load({
                    elem:'#goods_list'
                    ,isAuto:true
                    ,done:function(page,next) {
                        var lis = [];
                        //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                        aj.get('index.php?m=zyorder&c=zyorder_api&a=fx_good_list&page='+page,{userid:userid}, function (data) {
                            //假设你的列表返回在data集合中
                            console.log(data);
                            if(data.code==207){
                                layer.msg('登录超时');
                                setTimeout("javascript:location.href='{APP_PATH}index.php?m=zymember&c=index&a=login'",1000);
                            }
                            layui.each(data.data, function(index, item){
                                //订单状态
                                var goodsInfo = '<li> <div class="fl"> <h3>'+item.nickname+'购买了'+item.goods_name+'商品</h3> <p>'+item.addtime+'</p> </div> <div class="fr">获得佣金'+item.goods_fxmoney+'</div> <div class="clear"></div> </li><div class="bt10"></div>';
                                lis.push(goodsInfo);
                            });

                            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                            next(lis.join(''), page < data.page.totalpage);
                        });
                    }

                });
                //flow.load
            }();
        });
    </script>
</body>
</html>