{template "zymember","top-head"}


<body>
    <div class='personal-head'>
        <a onClick='javascript :history.back(-1);'>
            <div class='fl head-icon'>
                <i class='layui-icon layui-icon-left'></i>
            </div>
        </a>
        <div class='fl head-icon'>
        </div>
        <div class='title'>
            <span>修改支付密码</span>
        </div>
        <div class='fr head-icon'>

        </div>
        <div class='fr head-icon'>

        </div>
    </div>
    <div style="height: 0.5rem;width: 100%;"></div>

    <!--设置登录密码-->
    <div class="layui-container" style=" background: #fff;">
        <div class="layui-row">

            <div class="bg-fff radius1 login-box ">
                <div class="pl2 pr2">
                    <div class="layui-tab sm-fs" lay-filter="login-TabBrief">
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item p-r ">
                                        <input type="password" name="rawpassword" lay-verify="pass" autocomplete="off" placeholder="请输入原支付密码" class="layui-input">
                                    </div>
                                    <div class="h1"></div>
                                    <div class="layui-form-item p-r ">
                                        <input type="password" name="password" lay-verify="pass" autocomplete="off" placeholder="请输入新支付密码" class="layui-input">
                                    </div>
                                    <div class="h1"></div>
                                    <div class="layui-form-item p-r">
                                        <input type="password" name="repassword" lay-verify="pass" autocomplete="off" placeholder="请输入重复密码" class="layui-input">
                                    </div>
                                    <div class="h1"></div>
                                    <div class="h1"></div>
                                    <div class="layui-form-item submit">
										<botton class="layui-btn layui-btn-fluid"  lay-submit="" lay-filter="submit">登录</botton>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h2"></div>
            </div>

        </div>
    </div>


	{template "zymember","bottom-footer"}
    {template "zymember","footer"}	


    <script>
        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        ;
        ! function () {

            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                upload = layui.upload,
                table = layui.table;

            $('.no-way').on('click', function () {
                layer.msg('该栏目正在开发中...');
            });
			
			
			//监听提交
		    form.on('submit(submit)', function(data){
				var d = {};
				data.field.userid = {$_userid};
				if(data.field.rawpassword  && (data.field.password  ==　data.field.repassword)){
					aj.post('index.php?m=zymember&c=api&a=trapsd_edit_jd',data.field,function(data){
						console.log(data);
						if(data.status == 'error'){
							layer.msg(data.message);
						}else{
							layer.msg(data.message);
							setTimeout("javascript:location.href='"+data.data.forward+"'", 1000);

						}
					});
					console.log(data.field);
				}else if(data.field.password  !=　data.field.repassword){
					layer.msg('重复密码或新密码不一致');
				}
				
				return false;
		    });

			

        }();
    </script>
</body>

</html>