{template "zymember","top-head"}
<style>
    .layui-btn.on { background: #c9c9c9; color: #666; cursor: default; }
</style>
<body>
    <div class='personal-head'>
        <a onClick='javascript :history.back(-1);'>
            <div class='fl head-icon'>
                <i class='layui-icon layui-icon-left'></i>
            </div>
        </a>
        <div class='fl head-icon'>
        </div>
        <div class='title'>
            <span>修改绑定手机</span>
        </div>
        <div class='fr head-icon'>

        </div>
        <div class='fr head-icon'>

        </div>
    </div>
    <div style="height: 0.5rem;width: 100%;"></div>

    <!--登录密码找回-->
    <div class="layui-container bg-fff">
        <div class="layui-row">

            <div class="bg-fff radius1 login-box ">
                <div class="pl2 pr2">
                    <div class="layui-tab sm-fs" lay-filter="login-TabBrief">
                        <div class="layui-tab-content">	
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" action="" lay-filter="example">
                                    <div class="layui-form-item p-r" id="info">
                                        <input type="text" name="mobile" autocomplete="off" class="layui-input" disabled>
                                    </div>	
                                    <div class="h1"></div>
                                    <div class="layui-form-item p-r">
                                        <input type="text" name="verify_code" autocomplete="off" placeholder="请输入验证码" class="layui-input" style=" width:calc(100% - 1.25rem);">
                                       <button class="layui-btn p-a" type="button" id="obtain">获取校验码</button>
                                    </div>
                                    <div class="h1"></div>
                                    <div class="layui-form-item p-r ">
                                        <input type="text" name="newmobile" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
                                    </div>
                                    <div class="h1"></div>
                                    <div class="lh015 xs-fs">
                                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-left c-afafaf">绑定的手机号码已不在使用，请<a href="" class="ml05 c-primary">联系客服</a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="h1"></div>
                                    <div class="layui-form-item submit">
                                        <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="submit01">下一步</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h2"></div>
            </div>
        </div>
    </div>

    {template "zymember","bottom-footer"}
    {template "zymember","footer"}

    <script>
		
        $(function () {

			var phone;
			//由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
			;
			! function () {
				var layer = layui.layer,
					form = layui.form,
					$ = layui.jquery,
					upload = layui.upload,
					table = layui.table;
				var userid = {$_userid};
				aj.post('index.php?m=zymember&c=zymember_api&a=pub_memberinfo', { 'userid': userid, 'field': 'mobile' }, function (data) {
					//console.log(data.data);
					if (data.status == 'error') {
						layer.msg(data.message);
					} else {
						phone = data.data.mobile;
					  //表单初始赋值
					  form.val('example', {
						"mobile": data.data.mobile  // "name": "value"
					  })
					  form.render(); //更新全部

					};
				});
				//提交
				form.on('submit(submit01)', function (data) {
					var d = {};
					data.field.userid = {$_userid};
					
					//console.log(data.field);
					
					if (data.field.mobile && data.field.verify_code && data.field.newmobile) {
						data.field.type = '1';
						aj.post('index.php?m=zymember&c=api&a=update_mobile', data.field , function (data) {
							console.log(data);
							if (data.status == 'error') {
								layer.msg(data.message);
							} else {
								layer.msg(data.message);
								//setTimeout("javascript:location.href='" + data.data.forward + "'", 1000);

							}
						})
						console.log(data.field);
					}

					return false;
				});
				$('.no-way').on('click', function () {
					layer.msg('该栏目正在开发中...');
				});

			}();

            //短信监听手机号码提交
            $('#obtain').on('click', function () {
				var _this = $(this);
				var d = {};
				//console.log(phone);
				//60秒倒计时
				if (!_this.hasClass("on")) {
					aj.post('index.php?m=zymessagesys&c=messagesys_api&a=pub_sendsms',{'mobile':phone}, function (data) {
						console.log(data);
						layer.msg('发送成功');
						$.leftTime(60, function (d) {
							if (d.status) {
								_this.addClass("on");
								_this.html("（" + (d.s == "00" ? "60" : d.s) + "）后重获");
							} else {
								_this.removeClass("on");
								_this.html("获取校验码");
							}
							});
						});
				} else {
					layer.msg('信息已发送，请勿重复操作');
				}

            })
        })
    </script>
</body>
</html>