body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 "microsoft yahei", arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

.mui-content{
	max-width:750px;
	width: 100%;
	margin: 0 auto;
}
.bg{
	background:url(../images/bg.jpg);
	overflow:hidden;
	padding: 40px 3% 100px;
	width:100%;
	max-width:750px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	color:#fff;
	position:relative;
	left: 50%;
	top:0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.bg .money_label{
	font-size:18px;
	line-height: 40px;
	margin:0 0 10px 10px;
}

.bg .money{
	font-size:40px;
}


.bg .link{
	position:absolute;
	top: 10px;
	color:#fff;
	font-size:16px;
}

.bg .link.left{
	left: 20px;
}

.bg .link.right{
	right: 20px;
}

.sbtn{
	width:94%;
	margin:15px 3% 0;
	font-size:18px;
	padding: 10px 0;
}

.cash{
	background: #fff;
	padding: 0 15px;
}

.cash .cash_label{
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
}

.cash .cash_money {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	overflow:hidden;
	height: 84px;
}

.cash .cash_money .symbol{
	font-size:40px;
	float: left;
	font-weight:bold;
}

.cash .cash_mark{
	padding: 15px 0;
}

.input_text{
	float:left;
	width:80%!important;
	margin: -10px 0 0 0;
	border:none!important;
	font-size: 40px;
}

.success_page{
	text-align:center;
	padding-top: 40px;
	background:#fff;
}

.success_page .msg{
	font-size:22px;
	padding: 25px 0 30px;
	border-bottom:1px solid #ddd;
}

.success_list span.info{
	float:right;
}

.list_box{
	background: #fff;
	width: 94%;
	margin: 10px auto;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.list_box .list_title{
	background:#f98c33;
	color:#fff;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}

.list_box .list_content{
	background: #fff;
	padding: 10px 15px;
}

.list_box .list_content .info{
	height: 30px;
	line-height: 30px;
	letter-spacing:1px;
	font-weight:bold;
}

.list_box .list_content .info span{
	font-weight:normal;
}

.recharge{
	padding: 0 15px;
}

.recharge_cash dt,.recharge_cash dd{
	margin: 0;
}

.recharge_cash dt{
	margin-bottom: 10px;
}

.recharge_cash dd .money{
	float:left;
	width: 48%;
	text-align: center;
	background: #fff;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: 2%;
	border:1px solid #ddd;
	border-radius:5px;
}

.recharge_cash dd .money.active{
	color: #f3845b;
	border: 1px solid #fdbea8;
	background: #f3ddbf;
}

.bcard{
	background: linear-gradient(left top,  #fe8871 0%,#fe5364 100%);
	background: -webkit-linear-gradient(left top,  #fe8871 0%,#fe5364 100%);
	background: -moz-linear-gradient(left top,  #fe8871 0%,#fe5364 100%);
	background: -o-linear-gradient(left top,  #fe8871 0%,#fe5364 100%);
	overflow:hidden;
	margin: 10px;
	padding: 10px 0 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	position: relative;
}

.avatar{
	margin: 20px 0 0 15px;
	overflow:hidden;
}

.avatar img{
	float:left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background: #fff;
	border: 1px solid #eee;
}

.avatar .title{
	float:left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin:15px 0 0 15px;
}

.bcard .number{
	color:#fff;
	text-align:center;
	font-size:25px;
	margin: 20px 0;
	letter-spacing: 2px;;
}

.bcard .card_icon{
	position: absolute;
	right: 10px;
	bottom:10px;
	color:#fff;
}

.bcard .setting{
	position: absolute;
	right: 15px;
	top:15px;
	color:#fff;
	font-size:16px;
}

.pay_list{
	padding-top:5px;
}

.pay_list a{
	text-decoration: none;
	color:#333;
}

.pay_list li{
	margin: 15px;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

.pay_list li dt{
	position:absolute;
}

.pay_list li dd{
	margin-left: 100px;
	font-size: 26px;
	line-height: 70px;
}

.input_label{
	height:40px;
	line-height: 40px;
	padding: 0 15px;
	font-size: 16px;
	color: #555;
	background:#ddd;
}

.mui-input-group .mui-input-row{
	height: 50px;
}

.mui-input-row label{
	font-size: 16px;
	line-height:1.7;
}

.mui-input-row label~input{
	height: 50px;
	font-size: 16px;
}
