<div class='index-footer'>
    <ul>
        <li class='fl'>
            <a href=''>
                <div class='index-footer-img footer-home'></div>
                <div class='index-footer-column'>首页</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=hpshop&c=index&a=allcat'>
                <div class='index-footer-img footer-column'></div>
                <div class='index-footer-column'>分类</div>
            </a>
        </li>
<!--
        <li class='fl'>
            <a href=''>
                <div class='index-footer-img footer-message'></div>
                <div class='index-footer-column'>消息</div>
            </a>
        </li>
-->
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=hpshop&c=index&a=goodscart'>
                <div class='index-footer-img footer-cart'>
                </div>
                <div class='index-footer-column'>购物车</div>
            </a>
        </li>
        <li class='fl'>
            <a href='{APP_PATH}index.php?m=zymember&c=index&a=init'>
                <div class='index-footer-img footer-user'></div>
                <div class='index-footer-column'>我的</div>
            </a>
        </li>
        <div class='clear'></div>
    </ul>
</div>