{template "zymember","top-head"}
<style>
    .member-index-head .more .layui-badge { background: #321ab5; }

    p.text.text-center { color: #8a8a8a; }

    .hui .icon-box * { color: #8a8a8a; }
</style>

<body class="bg-f4f4f4">
    <div class="personal-center-head">
        <div class="personal-center-head-left">
            <a href="{APP_PATH}index.php?m=zymember&c=index&a=personal_data">
                <img src="{APP_PATH}statics/public/images/5b163ef9N4a3d7aa6.png" class="w-100">
            </a>
        </div>
        <div class="personal-center-head-center" id="info">
            <div class="name mt15">
                <span class="c-fff">用户昵称：{{ nickname }}</span>
            </div>
            <p class="more">
                <!-- <span class="layui-badge mt1">普通会员</span> -->
                <span class="c-fff d-ib ">用户ID: {{ userid }}</span>
            </p>
            <p class="more mt1">
                <span class="layui-badge radius5 layui-badge-more">积分： {{ point }}<i class="layui-icon layui-icon-right"></i></span>
            </p>
        </div>

        <!-- <div class="personal-center-head-right">
            <img src="{APP_PATH}statics/public/images/qiandao.png" class="w-100">
        </div> -->
    </div>
    <div class="h1" style="background: #fff;"></div>
    <!--     <div class="personal-center-head2">
            <a href="个人中心.html">
                <div class="div1">
                    个人中心
                </div>
            </a>
            <a href="个人中心-我的团队.html">
                <div class="div2">
                    我的团队
                </div>
            </a>
        </div> -->
    <div class="chunk-list bg-fff sm-fs hui">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="订单中心-待付款.html">
                <div class="h1"></div>
                <div class="icon-box icon-linear">
                    <span class="icon iconfont icon-sponsor"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center icon-linear">待付款</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="订单中心-待发货.html">
                <div class="h1"></div>
                <div class="icon-box icon-linear">
                    <span class="icon iconfont icon-deliver"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center icon-linear">待发货</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="订单中心-待收货.html">
                <div class="h1"></div>
                <div class="icon-box icon-linear">
                    <span class="icon iconfont icon-goods"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center icon-linear">待收货</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="订单中心-待评价.html">
                <div class="h1"></div>
                <div class="icon-box icon-linear">
                    <span class="icon iconfont icon-comment"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center icon-linear">待评价</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="chunk-list bg-fff sm-fs hui">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="">
                <div class="h1"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-repair"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">退换货商品</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="">
                <div class="h1"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-footprint"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">我的足迹</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="">
                <div class="h1"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-favor"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">我的收藏</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <a class="d-b" href="订单中心.html">
                <div class="h1"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-goods"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">全部订单</p>
                <div class="h1"></div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="h1"></div>
    <!-- <div class="w-100">
        <img src="{APP_PATH}statics/public/images/xuanchuanerweima.png" class="w-100">
    </div>
    <div class="h1"></div> -->
    <!--全部工具-->
    <div class="chunk-list bg-fff sm-fs">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 br-bb_f1f1f1">
            <a class="d-b" href="index.php?m=zymember&c=index&a=security">
                <div class="h2"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-safe c-00bfff"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">安全中心</p>
                <div class="h2"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 br-bb_f1f1f1">
            <a class="d-b" href="{APP_PATH}index.php?m=zyfunds&c=index&a=wallet">
                <div class="h2"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-moneybagfill c-ff4f00"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">我的钱包</p>
                <div class="h2"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 br-bb_f1f1f1">
            <a class="d-b" href="">
                <div class="h2"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-location c-7cba59"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">我的地址</p>
                <div class="h2"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 bb_f1f1f1">
            <a class="d-b" href="{APP_PATH}index.php?m=zymember&c=index&a=shop_init">
                <div class="h2"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-taoxiaopu c-ff1493"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">店铺中心</p>
                <div class="h2"></div>
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div class="chunk-list bg-fff sm-fs">
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 br_f1f1f1">
            <a class="d-b" href="">
                <div class="h2"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-comment c-ff0000"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">消息</p>
                <div class="h2"></div>
            </a>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 br_f1f1f1">
            <a class="d-b" href="{APP_PATH}index.php?m=member&c=index&a=logout">
                <div class="h2"></div>
                <div class="icon-box">
                    <span class="icon iconfont icon-pulldown c-333"></span>
                </div>
                <div class="h05"></div>
                <p class="text text-center">退出</p>
                <div class="h2"></div>
            </a>
        </div>

        <div class="clear"></div>
    </div>
    {template "zymember","bottom-footer"}
    {template "zymember","footer"}
    <script>
        $(function () {
            var userid = {$_userid};
            aj.post('index.php?m=zymember&c=zymember_api&a=pub_memberinfo', { 'userid': userid, 'field': 'nickname,userid,point' }, function (data) {
                //console.log(data.data);
                if (data.status == 'error') {
                    layer.msg(data.message);
                } else {
                    var info = new Vue({
                        el: '#info',
                        data: data.data
                    })
                }
            });
        })

            //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
            ;
        ! function () {
            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                upload = layui.upload,
                table = layui.table;

            $('.no-way').on('click', function () {
                layer.msg('该栏目正在开发中...');
            });


        }();
    </script>
</body>
</html>