{template "zymember","top-head"}

<body>
    <style>
        a.layui-layer-btn2 { background-color: #84c101; border: 1px solid #84c101; color: #FFF; }
    </style>
    <div class='personal-head'>
        <a onClick='javascript :history.back(-1);'>
            <div class='fl head-icon'>
                <i class='layui-icon layui-icon-left'></i>
            </div>
        </a>
        <div class='fl head-icon'>
        </div>
        <div class='title'>
            <span>个人资料</span>
        </div>
        <div class='fr head-icon'>

        </div>
        <div class='fr head-icon'>
			
        </div>
    </div>
    <div style="height: 0.5rem;width: 100%;"></div>
    <!--个人信息-->
    <div class="layui-container grxx" style="min-height: calc( 100vh - 1rem); background: #f1f1f1;">
        <div class="layui-row">
            <form class="layui-form " action="" id="info">
                <div class="box box-indent sm-fs bg-fff">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <ul>
                            <hr>
                            <li>
                                <div class="layui-form-item lg-item">
                                    <label class="layui-form-label primary-label-1">头像</label>
                                    <div class="layui-input-block text-right">
                                        <a class="d-b no-way pt05 pb05 h5">
                                            <!--  d-ib 点文字触发 -->
                                            <!-- d-b 点区域块触发 -->
                                            <span>
                                                <b class="img radius-o "><img :src="headimgurl"></b>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <hr>
                            <li onClick="modify_shopname()">
                                <div class="layui-form-item primary-item">
                                    <label class="layui-form-label primary-label-1">店铺名</label>
                                    <div class="layui-input-block text-right">
                                        <a class="d-b no-way">
                                            <!--  d-ib 点文字触发 -->
                                            <!-- d-b 点区域块触发 -->
                                            <span class="">{{ shopname }}<i class="fa fa-angle-right pl1 lg-fs"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
							<hr>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

            </form>
        </div>
    </div>



    {template "zymember","bottom-footer"}
    {template "zymember","footer"}

    <script>
        $(function () {
            var userid = {$_userid};
            aj.post('index.php?m=zymember&c=zymember_api&a=pub_memberinfo', { 'userid': userid, 'field': 'headimgurl,shopname,userid' }, function (data) {
                console.log(data.data);
                if (data.status == 'error') {
                    layer.msg(data.message);
                } else {
                    var info = new Vue({
                        el: '#info',
                        data: data.data
                    });
                };
            });
        });

        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        ;
        ! function () {
            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                upload = layui.upload,
                table = layui.table;

            $('.no-way').on('click', function () {
                layer.msg('该栏目正在开发中...');
            });

        }();
        function modify_shopname() {
            layer.prompt({ title: '输入新昵称', formType: 3 }, function (name, index) {
                var d = {};
                d.userid = {$_userid};
				d.type = 1;
                d.shopname = name;
				console.log(d);
                aj.post('index.php?m=zymember&c=api&a=edit_memberdata', d, function (data) {
                    console.log(data);
                    if (data.status == 'error') {
                        layer.msg(data.message);
                    } else {
                        layer.msg(data.message);
                        setTimeout("javascript:location.href='" + data.data.forward + "'", 1000);
                    }
                });

                layer.close(index);
            });
        };
    </script>
</body>
</html>